<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Welcome</title>
  </head>
  <body>
    <h1>Hello <%= locals.username %>!</h1>
    <p>Your post <h4><%= locals.title %></h4> has successfully created!</p>
  </body>
</html>
